
<div id="wufoo-zp90cf91u3oab7">
Fill out my <a href="https://thetyee.wufoo.com/forms/zp90cf91u3oab7">online form</a>.
</div>
<script type="text/javascript">var zp90cf91u3oab7;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'thetyee',
'formHash':'zp90cf91u3oab7',
'autoResize':true,
'height':'400',
'async':true,
'host':'wufoo.com',
'header':'hide',
'ssl':false};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { zp90cf91u3oab7 = new WufooForm();zp90cf91u3oab7.initialize(options);zp90cf91u3oab7.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

