<div class="prize-list">
<div class="prize-description"><h2 style="color: #222" class="heading">$500 <a href="https://www.vancity.com/">Vancity</a> Visa Gift Card</h2><img src="/images/prizes/Vancity-Visa---myTreat-Gift-Card_MC_Version_RGB.jpg">
<p>Make an impact by spending this prize at your favourite locally owned businesses!
</p><p>Vancity is Canada’s largest community credit union, serving the needs of over 492,000 member-owners and their communities through 57 branches in Metro Vancouver, the Fraser Valley, Victoria and Squamish.  Learn more here: <a href="http://vancity.com ">http://vancity.com</a>  
</p>

</div>

<div class="prize-description"><h2 style="color: #222" class="heading"> $250 in <a href="http://www.localty.ca/">Localty</a> Bucks</h2><img src="/images/prizes/Localty_voucher-FINAL-1.jpg">
<p>Vancity’s free Localty tool allows users to discover and support over 120 independent Victoria businesses (and counting.)  Use your Localty bucks at any of them!</p>
<p><em>Please note that the Localty prize is only eligible to Victoria-resident participants</em>.</p>
<p>Localty works on your smartphone, tablet, or computer.  Give it a whirl here:<a href=" http://localty.ca"> http://localty.ca</a> </p>

</div>

<div class="prize-description"><h2 style="color: #222" class="heading">Whistler Getaway Package for Two from <a href="http://localwhistler.com">Local Whistler</a>
</h2><img src="/images/prizes/whistler.jpg">

<p>This incredible Whistler getaway for two includes two nights at the Summit Lodge, a Ziptrek Eagle Tour, vouchers for a 90 minute float at West Coast Float, a Vibrant Health Package certificate for the Green Moustache Juice, Smoothie + Live Food Bar, and a gift basket filled with local products and gift certificates. ($1000 value.)
</p><p>Buy Local Week for the Sea to Sky Corridor is hosted by <a href="http://localwhistler.com">Local Whistler</a> and the <a href="http://www.whistlercentre.ca/2011/">Whistler Centre for Sustainability</a>.   
</p><p>More details:
</p><ul style="list-style-type:disc; margin-right: .5em;">
<li style="list-style-type:disc; margin-right: .5em; padding-bottom:1.5rem;">Two nights’ accommodation at Summit Lodge: Deluxe Studio with complimentary parking, blackout dates apply</li>
<li style="list-style-type:disc; margin-right: .5em; padding-bottom:1.5rem;">Ziptrek EcoTours ‘Eagle Tour’: Valid Sunday to Friday, excluding long weekends & holidays. Expires December 15th 2015.</li>
<li style="list-style-type:disc; margin-right: .5em; padding-bottom:1.5rem;">Whistler local gift basket: Four boxes of organic Namasthe Tea, one bag of Jules Fuel cereal, and a $20 gift voucher for Peaked Pies. </li>
</ul>

</div>

<div class="prize-description"><h2 style="color: #222" class="heading">Get into Vinyl Package from <a href="http://redcat.ca">Red Cat Records</a>
</h2><img src="/images/prizes/RedCatTyeePrize.jpg">
<p>Jumpstart your way to being a vinyl aficionado with this Red Cat Records prize: a new audio-technica turntable, a $100 gift certificate, Red Cat t-shirt and tote, and carbon fibre brush.  ($300+ value)
</p><p>Red Cat Records is a local independent record store located in the heart of Mount Pleasant in Vancouver B.C. that specializes in carrying new and used vinyl records, cds and concert tickets. Known for great customer service, quick turn-around special orders, and diverse selection, Red Cat has been serving the Greater Vancouver area since 2002. 
</p><p>Learn more here: <a href="http://redcat.ca">http://redcat.ca</a> 
</p>
</div>

<div class="prize-description"><h2 style="color: #222" class="heading">Family Day at <a href="http://rivermarket.ca">River Market</a> 
</h2><img src="/images/prizes/RiverMarket_VancouverCircusSchool.jpg">
<p>Explore New Westminster’s River Market, a 72,000 square foot marketplace for the hungry and curious along the Mighty Fraser. Showcasing some of BC’s best culinary and creative talents, and featuring diverse community events and programming, River Market is a great launch pad for exploring New Westminster.</p>

<p>This fun prize includes a session at the state of the art Vancouver Circus School (try your hand at some trampoline, trapeze, and aerial skills), a food crawl passport to allow your family to sample signature dishes from some of the market’s award-winning restaurants, and a basket of goodies from Donald’s Market. ($300 value.)</p>

<p>Learn more about River Market here: <a href="http://rivermarket.ca">http://rivermarket.ca</a>. </p>

</div>


<div class="prize-description"><h2 style="color: #222" class="heading">
Two nights at Tofino’s <a href="http://www.middlebeach.com/">Middle Beach Resort</a></h2><img src="/images/prizes/MBL.jpg">
<p>Enjoy two nights (for two) on the wild west coast of Vancouver Island, courtesy of Tofino-Long Beach Chamber of Commerce and Middle Beach Resort.  ($260 value.)</p>

<p>The Tofino-Long Beach Chamber of Commerce supports many amazing local Tofino businesses all year round through its Buy Local Tofino and #madeintofino initiatives.  Learn more here: <a href="http://www.tofinochamber.org/">http://www.tofinochamber.org/</a> </p>


</div>

<div class="prize-description"><h2 style="color: #222" class="heading">
Neighbourhood Shopping Spree from <a href="http://www.burnabyheights.com/">Burnaby Heights BIA</a> 
</h2><img src="/images/bheights.JPG">
<p>Sample the dozens of independent businesses in Burnaby Heights with this collection of gift certificates brought together by the Burnaby Heights BIA. 
 Learn more about Burnaby Heights here: <a href="http://www.burnabyheights.com/">http://www.burnabyheights.com/</a> 
 </p> 
</div>

<div class="prize-description"><h2 style="color: #222" class="heading">Thyme's Frasier Fir Holiday Scents from <a href="http://lalas.ca">LaLa's</a> </h2>
<img src="/images/prizes/Lalasfir.jpg">
Enjoy The Thymes Frasier Fir scent, and bring the outdoors inside. A holiday tradition that warms your heart and home. From LaLa’s, locally owned, operated and loved in both Deep Cove and on Vancouver’s Commercial Street: <a href="http://lalas.ca">http://lalas.ca</a>. ($150 value.)</div>

<div class="prize-description"><h2 style="color: #222" class="heading">Luxurious Entertaining Basket from <a href="https://www.spud.ca/">SPUD</a> </h2><img src="/images/prizes/SPUDGiftBasket.jpg"><p>Filled with delectable local, organic and award-winning nibbles and sweets, this is the perfect basket to share with friends and family, or sample some SPUD favourites. The 'Luxurious Entertaining Basket' contains an assortment of crackers, preserves, nuts, dried fruit, and sweets, including award winning dips from Desert Pepper and local chips to enjoy them with, succulent dark chocolate from Denman Island, delicious spreads from Vista D'oro and some sweet sparkling juices to cap off this delightful taste experience. ($120 value.)</p>

<p>Learn more about SPUD (Sustainable Produce Urban Delivery) here: <a href="https://www.spud.ca/">https://www.spud.ca/</a></p>
</div>




<div class="prize-description"><h2 style="color: #222" class="heading">Three Month Coffee Subscription from <a href="http://www.saltspringcoffee.com">Saltspring Coffee</a></h2><img src="/images/prizes/14-0059_TYEE_CONTEST_600px-FB.jpg"><p>Salt Spring Coffee three month coffee subscription!  Every two weeks, Salt Spring Coffee will deliver you a bag of fresh, in season organic coffee that is Fair to Farmers. With your first shipment you’ll also recieve a sleek 14 oz stainless steel tumbler. ($110 value.)
</div>

<div class="prize-description"><h2 style="color: #222" class="heading">Welcome Prize from <a href="http://front.bc.ca/">Western Front</a></h2><img src="/images/prizes/Western-Front-image.jpg"><p>The Western Front Welcome Prize includes an annual Household Membership, a selection of limited edition tea towels designed by Vancouver-based artists Jeff Hamada, Sylvain Sailly and Arvo Leo, and Whispered Art History, a recounting of the first twenty years of the Western Front. ($125 value)</p>

<p>Western Front is a non-profit arts organization dedicated to producing and presenting experimental art and new music. Established in 1973, Western Front is one of Canada's leading artist-run centres with programs in Exhibitions, New Music and Media Arts.  Learn more here: <a href="http://front.bc.ca/ ">http://front.bc.ca/ </a></p>
</div></div>