<h3 class="sidebar-header">Prizes</h3>
<div class="short-prize-description"><a href="https://www.vancity.com/"><img src="/images/prizes/Vancity-Visa---myTreat-Gift-Card_MC_Version_RGB.jpg" class="prize-logo"></a><p>$500 <a href="http://vancity.com">Vancity</a> Visa Gift Card</p></div>

<div class="short-prize-description"><a href="http://www.localty.ca/"><img src="/images/prizes/Localty_voucher-FINAL-1.jpg" class="prize-logo"></a>
<p>$250 in <a href="http://localty.ca">Localty</a> Bucks</p>
</div>

<div class="short-prize-description"><a href="http://localwhistler.com/"><img src="/images/prizes/whistler.jpg" class="prize-logo"></a><p>Whistler Getaway Package for Two from <a href="http://localwhistler.com/">Local Whistler</a> ($1000 value)</p>

</div>


<div class="short-prize-description"><a href="http://www.redcat.ca/"><img src="/images/prizes/RedCatTyeePrize.jpg" class="prize-logo"></a><p>Get into Vinyl Package from <a href="http://www.redcat.ca">Red Cat Records</a> ($300+ value)</p></div>


<div class="short-prize-description"><a href="http://rivermarket.ca/"><img src="/images/prizes/RiverMarket_VancouverCircusSchool.jpg" class="prize-logo"></a><p>Family Day at <a href="http://rivermarket.ca">River Market</a> ($300 value)</p></div>


<div class="short-prize-description"><a href="http://www.tofinochamber.org/"><img src="/images/prizes/MBL.jpg" class="prize-logo"></a>
<p>Two nights at Tofino’s <a href="http://www.middlebeach.com/">Middle Beach Resort</a> ($260 value)</p></div>






<div class="short-prize-description"><p>And other great prizes from <a href="http://www.lalas.ca">LaLa's</a>, <a href="https://www.spud.ca/">SPUD</a>, <a href="http://www.burnabyheights.com/">Burnaby Heights</a>, <a href="http://www.saltspringcoffee.com">Saltspring Coffee</a>, &amp; <a href="http://front.bc.ca/">Western Front</a>.</p>
<div class="enter-contest"><a>Full prize list</a></div>
</div>
