extends layout



block content
    
    div.container
      div.column

        h2.heading. Enter Now
        include inc/form.html

      section.sponsors
        h3.sidebar-header Contest brought to you by
        img(src="/images/livelocalbuy.png")
        include inc/shortprize.html 
      